Amine Lahouani
5 Apt: 5, Rue Figuig, Hassan - Rabat
contact@mipa.institute
+212 5 37 26 26 02
www.mipa.institute
Rabat, 24st January 2024

Moroccan Institute for Policy Analysis (MIPA)
5 Apt: 5, Rue Figuig, Hassan - Rabat
contact@mipa.institute

Dear Recruitment Team,

I am writing to express my keen interest in the Data Analyst consultant position as advertised. With a profound background in data science and analysis, complemented by over two years of experience in investment banking and a solid educational foundation with an MBA in Accounting and Finance and an Engineering degree in Statistics, I am enthusiastic about the opportunity to contribute to MIPA’s mission of fostering democracy through systematic policy analysis.

Throughout my career, I have honed my skills in consolidating, processing, and analyzing data from diverse sources, ensuring its quality and coherence, which directly aligns with the duties outlined in the job description. My proficiency in software analysis data types, including Stata, R, Eviews, and SPSS, along with extensive expertise in databases and database management (SQL), and programming languages (Python, R, C++), positions me as a fitting candidate for this role. My experience with data visualization tools such as Tableau and PowerBI further complements the qualifications sought by MIPA.

My role as a Senior Data Scientist at Infomineo, where I developed and maintained data pipelines, automated workflows, and provided data-driven solutions, mirrors the responsibilities of the Data Analyst position at MIPA. This experience, coupled with my prior roles that involved statistical modeling, data mining, and analysis tools mastery, underpins my capability to contribute effectively to your team.

I am particularly drawn to this opportunity at MIPA due to its commitment to addressing pressing issues relating to democracy through in-depth analysis. I am eager to bring my background in data analysis, strategic project implementation, and a methodical work ethic to support MIPA’s research team and strategic development.

I am looking forward to the possibility of discussing my application in further detail and am available for an interview at your earliest convenience. Thank you for considering my application. I am enthusiastic about the opportunity to contribute to MIPA’s impactful work.

Warm regards,

Amine Lahouani